<% if @coupon.nil? then %>
  <h1>Cupom inválido ou já resgatado. Tente novamente.</h1>
<% else %>
  <h1>Cupom resgatado com sucesso!</h1>
  <pre>
            Usuário: <%= @coupon.user.email %>
               Code: <%= @coupon.code %>
          Resgatado: <%= @coupon.redeemed %>
           Promoção: <%= @coupon.promotion.title %>
            Empresa: <%= @coupon.promotion.company.name %>
  </pre>

<% end %>
<%= link_to "Voltar", :back %>