<h3><%= @promotion.company.name %></h3>
<h3><%= @promotion.expiration %></h3>
<h3><%= @promotion.value %></h3>
<h3><%= @promotion.availability %></h3>
<h3><%= @promotion.title %></h3>
<h3><%= @promotion.description %></h3>
<img src="<%= @promotion.image %>">
